In [13]:
import pandas as pd
passport_df=pd.read_csv(r'C:/Users/ayush/Desktop/passport.csv')
passport_df.head(5)

   processing_time  Unnamed: 1    Unnamed: 2
0               16         NaN           NaN
1               16         NaN         27.05
2               30         NaN           NaN
3               37         NaN           NaN
4               25         NaN  -1.644853627

In [14]:
type(passport_df),len(passport_df),passport_df.shape

(pandas.core.frame.DataFrame, 40, (40, 3))

In [15]:
print(list(passport_df['processing_time']))

[16, 16, 30, 37, 25, 22, 19, 35, 27, 32, 34, 28, 24, 35, 24, 21, 32, 29, 24, 35, 28, 29, 18, 31, 28, 33, 32, 24, 25, 22, 21, 27, 41, 23, 23, 16, 24, 38, 26, 28]

In [16]:
passport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   processing_time  40 non-null     int64
 1   Unnamed: 1       0 non-null      float64
 2   Unnamed: 2       4 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ KB

In [17]:
passport_df.describe().round(2)
#max is Q4

       processing_time  Unnamed: 1
count            40.00         0.0
mean             27.05         NaN
std               6.25         NaN
min              16.00         NaN
25%              23.00         NaN
50%              27.00         NaN
75%              32.00         NaN
max              41.00         NaN

In [18]:
x_bar = passport_df.mean().round(2)
sigma = passport_df.std()

In [19]:
x_bar,sigma

(processing_time    27.05
 Unnamed: 1           NaN
 dtype: float64,
 processing_time    6.246845
 Unnamed: 1              NaN
 dtype: float64)

In [20]:
val=x_bar-30

In [21]:
val1=val/12.5

In [22]:
passport=passport_df['processing_time'].values#Beutification purpose remove 
len(passport)

40

In [23]:
x_bar=passport_df['processing_time'].mean()
sigma=passport_df['processing_time'].std()

In [24]:
import scipy.stats

In [25]:
from scipy import stats

In [26]:
import numpy as np
def z_test(pop_mean,pop_std,sample):
    z_score=(sample.mean()-pop_mean)/(pop_std/np.sqrt(len(sample)))
    return z_score,stats.norm.cdf(z_score)

z_test(30,12.5,passport_df['processing_time'])

#The second value is the p value

(-1.4925950555994747, 0.06777160919961511)

In [27]:
z_score=(passport_df['processing_time'].mean()-30)/(12.5/np.sqrt(len(passport_df['processing_time'])))

In [28]:
z_score

-1.4925950555994747

In [29]:
passport_df['processing_time']

0     16
1     16
2     30
3     37
4     25
5     22
6     19
7     35
8     27
9     32
10    34
11    28
12    24
13    35
14    24
15    21
16    32
17    29
18    24
19    35
20    28
21    29
22    18
23    31
24    28
25    33
26    32
27    24
28    25
29    22
30    21
31    27
32    41
33    23
34    23
35    16
36    24
37    38
38    26
39    28
Name: processing_time, dtype: int64

In [30]:
passport_df

    processing_time  Unnamed: 1                        Unnamed: 2
0                16         NaN                               NaN
1                16         NaN                             27.05
2                30         NaN                               NaN
3                37         NaN                               NaN
4                25         NaN                      -1.644853627
5                22         NaN                               NaN
6                19         NaN                               NaN
7                35         NaN                               NaN
8                27         NaN                               NaN
9                32         NaN  IF Z-Score is <Z-CRITICAL (FOR )
10               34         NaN                               NaN
11               28         NaN                      -1.959963985
12               24         NaN                               NaN
13               35         NaN                               NaN
14               24         NaN                               NaN
15               21         NaN                               NaN
16               32         NaN                               NaN
17               29         NaN                               NaN
18               24         NaN                               NaN
19               35         NaN                               NaN
20               28         NaN                               NaN
21               29         NaN                               NaN
22               18         NaN                               NaN
23               31         NaN                               NaN
24               28         NaN                               NaN
25               33         NaN                               NaN
26               32         NaN                               NaN
27               24         NaN                               NaN
28               25         NaN                               NaN
29               22         NaN                               NaN
30               21         NaN                               NaN
31               27         NaN                               NaN
32               41         NaN                               NaN
33               23         NaN                               NaN
34               23         NaN                               NaN
35               16         NaN                               NaN
36               24         NaN                               NaN
37               38         NaN                               NaN
38               26         NaN                               NaN
39               28         NaN                               NaN

In [31]:
x_bar=84
mu=82
sigma=11.03
n=100

m1=2
n1=10
sig1=sigma/n1

In [32]:
z=m1/sig1
z

1.813236627379873

In [33]:
stats.norm.cdf(1.813236627379873)

0.9651023335746607